<ion-content [fullscreen]="true">
  <div class="welcome-container">

    <img src="assets/icon/favicon.png" alt="PetPal Logo" class="logo" />

    <h1>Welcome to <strong>PetPal</strong></h1>
    <p class="tagline">Your pet family is safe here.</p>

    <div class="button-stack">
      <ion-button color="primary" expand="block" routerLink="/login">
        Login
      </ion-button>
      
      <ion-button class="button-outline-white" expand="block" routerLink="/signup">
        Sign Up
      </ion-button>
    </div>

  </div>
</ion-content>